@import url("animation.css") screen;

#mainCont {
	width: 960px;
	position: absolute;
	left: calc(50% - 480px);
	background: rgb(170,170,170);
	border-radius: 10px;
	margin-top: 10px;
}

#logo {
	height: 90px;
	width: 100%;
	background: rgb(170,170,170);
	position: inherit;
	border-radius: 10px 10px 0px 0px;
}

#logo img{
	height: 80px;
	margin: 5px;
	float: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

#logo img:hover {
	height: 90px;
	margin: 0px;
}

#nav ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    width: 100%;
    font-size: 25px;
    font-weight: 900;
    cursor: pointer;
}

#nav li {
    float: left;
    text-align: center;
    height: 50px;
    width: 25%;
    padding-top: 15px;
    background: rgb(200,200,200);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

#nav li:hover {
	background: rgb(230,230,230);
}

#nav a {
    display: block;
}

#content {
	width: 670px;
	padding: 10px;
	-webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    float: left;
}

.hidden {
	height: 0px;

}

#footer {
	height: 30px;
	bottom: 0px;
	background: rgb(200,200,200);
	width: 100%;
	border-radius: 0 0 10px 10px;
	text-align: center;
	padding-top: 10px;
	float: left;

}

#nav li.active {
	background: rgb(130,130,130);
}

#social {
	float: right;
}

#social img{
	height: 80px;
	padding: 5px;
}

#gallery {
	width: 640px;
	height: 480px;
 	float: left;
}

.faded {
	width: 0px;
}




.container {
	margin:0 auto;
	overflow:hidden;
	width:960px;
}

/* CONTENT SLIDER */
#content-slider {
	width:100%;
	height:360px;
	margin:10px auto 0;
}
/* SLIDER */
#slider {
	background:#000;
	border:5px solid #eaeaea;
	box-shadow:1px 1px 5px rgba(0,0,0,0.7);
	height:320px;
	width:640px;
	margin:40px auto 0;
	overflow:visible;
	position:relative;
}
#mask {
	overflow:hidden;
	height:320px;
}
#slider ul {
	margin:0;
	padding:0;
	position:relative;
}
#slider li {
	width:640px;
	height:320px;
	position:absolute;
	top:-325px;
	list-style:none;
}

#slider li.firstanimation {
	-moz-animation:cycle 25s linear infinite;	
	-webkit-animation:cycle 25s linear infinite;		
}
#slider li.secondanimation {
	-moz-animation:cycletwo 25s linear infinite;
	-webkit-animation:cycletwo 25s linear infinite;		
}
#slider li.thirdanimation {
	-moz-animation:cyclethree 25s linear infinite;
	-webkit-animation:cyclethree 25s linear infinite;		
}
#slider li.fourthanimation {
	-moz-animation:cyclefour 25s linear infinite;
	-webkit-animation:cyclefour 25s linear infinite;		
}
#slider li.fifthanimation {
	-moz-animation:cyclefive 25s linear infinite;
	-webkit-animation:cyclefive 25s linear infinite;		
}

#slider .tooltip {
	background:rgba(0,0,0,0.7);
	width:300px;
	height:60px;
	position:relative;
	bottom:75px;
	left:-320px;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;  
}
#slider .tooltip h1 {
	color:#fff;
	font-size:24px;
	font-weight:300;
	line-height:60px;
	padding:0 0 0 20px;
}
#slider li#first:hover .tooltip, 
#slider li#second:hover .tooltip, 
#slider li#third:hover .tooltip, 
#slider li#fourth:hover .tooltip, 
#slider li#fifth:hover .tooltip {
	left:0px;
}
#slider:hover li, 
#slider:hover .progress-bar {
	-moz-animation-play-state:paused;
	-webkit-animation-play-state:paused;
}

/* PROGRESS BAR */
.progress-bar { 
	position:relative;
	top:-5px;
	width:640px; 
	height:5px;
	background:#000;
	-moz-animation:fullexpand 25s ease-out infinite;
	-webkit-animation:fullexpand 25s ease-out infinite;
}
