body{
	background: url("../img/back.png");
}



@font-face {
    font-family: titleFont;
    src: url(lakesight.ttf);
}


/*
MAIN CONTENT
*/
#main{
	width: calc(100% - 10px);
	height: 100%;
	background: url("../img/back.png");
	position: absolute;
	top: 0;
	left: 10px;
}

#header{
	
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background: rgb(230,230,230);
	text-align: center;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-family: titleFont;
	font-size: 45px;
	font-weight: 900;
	border-bottom: 3px solid rgb(250,250,250);
}

#sectionOne {
	margin: 10px calc(50% - 485px);
	position: inherit;
	width: 960px;
	height: 720px;
	background: rgb(150,150,150);
	box-shadow: 0 0 20px black;
	padding: 10px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 60px rgba(50,50,50,0.3); 
    /*background: rgba(90,90,90,03);*/
}
 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(90,90,90,0.5); 
}





















/*
MENU + SHADOW
*/


#menuCont{
	width: 350px;
	height: 100%;
	background: rgb(200,200,200);
	position: fixed;
	z-index: 10000;

	border-right: 10px solid rgb(50,50,50);

	-webkit-transition-duration: 0.5s; /* For Safari 3.1 to 6.0 */
    transition-duration: 0.5s;

	left: -350px;
	cursor: pointer;

}

#menuCont:hover {
	border-right: 30px solid rgb(90,90,90);
}

.menuContSlide {
	left: 0px !important;
}

#shadow {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	opacity: 0;
	background: black;
	webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	position: fixed;
	z-index: -1;
	cursor: pointer;

}

.shadow {
	opacity: 0.3 !important;
	z-index: 9999 !important;
}

